.header {
    --padding20-0: 30px 0;
    background-color: var(--color6);
    color: var(--color-white);
    font-family: var(--font-montserrat);
}
.header__block {
}
.header__block__first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding20-0);
    border-bottom: 1px solid;
}
.header__info__number {
    color: var(--color9);
    font-size: 16px;
    font-weight: 900;
    font-family: var(--font-montserrat);
    margin-top: 7px;
}
.header__logo {
    background-color: var(--color9);
    padding: 10px 20px;
    font-size: 32px;
    border-radius: 10px;
}
.header__logo > a {
    color: var(--color-white);
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__menu a {
    font-size: 16px;
    color: var(--color9);
    font-family: var(--font-montserrat);
    letter-spacing: 2px;
}
.header__auth__block {
    font-size: 18px;
}

.header__block__last {
    padding: var(--padding20-0);
}
.header__block__last .header__block__last__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.header__block__last__menu a {
    font-size: 18px;
    color: var(--color-white);
    text-transform: uppercase;
    font-family: var(--font-montserrat);
    letter-spacing: 2px;
    transition: all 0.3s;
}
.header__block__last__menu a:hover {
    color: var(--color9);
}
